<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>

<body style="background-color: #E5E5E5;">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 style="text-align: center;" class="text-center">ABOUT US</h1>
            </div>

            <hr>
        </div>
        <div class="row">
            <div class="col-md-4 text-center" style="display: flex; align-items: t; justify-content: center;">
                <iframe src="https://www.youtube.com/embed/s3iT_6Pwobk" frameborder="0"></iframe>
            </div>
            <div class="col-md-4 text-center" >
                <div>
                    <h1  class="text-center">Mission</h1>
                    <p>Our mission is to serve the best of African food, specializing in Kenyan. 
                        Our favorites include Pork,  Mbuzi Choma pepper soup (a fiery goat soup), Goat Meat, Chicken and plantains <br>. we are Located in the buzzling Ruaka town centre next to Quickmart <br> we provide good quality home cooked meals and variety of drinks at a reasonable price . We have the best tasting pork, Tilapia Fish, Mbuzi Choma, Chicken all prepared with highest quality selected ingredients and spices..
                    </p>  
                </div>
                <div>
                    <h1  class="text-center">vission</h1>
                    <p>Our vission is to be the world’s favorite quick-service restaurant.</p> 
                </div>
            </div>
            <div class="col-md-4" style="display: flex; align-items: center; justify-content: center;">
                <img style="margin-bottom: 17.5%;" src="../static/images/banner.jpeg" width="100%">
            </div>
            
        </div>
    </div>
    <div class="col-md-4 text-center align-items: centre justify-content: center;" 
    <h1  class="text-center">BOOK A TABLE</h1>
                    <p> <br> +254 7123456456 <br> MON-SUN,8:OOAM-11:00PM
                    </p>
                    </div>
</body>

</html>