
<div class="container" style="background-color: grey;">
        
        <div class="row">
            <div class="column">
                <h3>ABOUT-US</h3>
                <p>Lorem ipsum dolor sit amet<br> consectetur adipisicing elit. <br>
                    Dolorem doloribus dignissimos<br> doloremque minus magnam. <br>
                    Quas alias aliquid quibusdam <br>eius eveniet, omnis cupiditate velit,<br>
                    <strong style="margin-left: 150px;">readmore..</strong>
            </div>
            <div class="column">
                <h3>LINKS</h3>
                <li><a href="#">Home</a></li> 
                    <li><a href="#">Our Menu</a></li>
                    <li><a href="#">Special Offers</a></li> 
                    <li><a href="#">Gallery</a></li> 
                    <li><a href="#">Contact</a></li>

               
            </div>
            <div class="column">
                <H3>MENU</H3>
                <li><a href="#">Breakfast</a></li>
                <li><a href="#">lunch</a></li> 
                <li><a href="#">Dinner</a></li> 
                <li><a href="#">Drinks</a></li>
                   

                    
            </div>
            <div class="column">
                <H3>OPENING HOURS</H3>
                <p>
                    Monday - Friday<br>
                    8:00 am — 5:00pm<br><br>
                    
                    Sunday<br>
                    8:00 am — 8:00pm</p>
            </div>
        </div>

    <div class="row" >
        <div class="col">
            <button><li>contact-us</li></button>
        </div>
        <div class="col">
            <button><li>get order</li></button>

        </div>
    </div>
  <div class="row">
      <div class="colu">
          
        <li><a href="#">Back to Top</a></li>
      </div>
  </div>


    <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 footer_main">
    <div class="footer_bottom">
        <div class="col-lg-3 col-md-12 footer_copyright">
        <p style="margin-left: 40%;">©2021 All rights reserved.</p>
    </div>
    </div>
    </div>
</div>
</div>
<style>
    .row{
        width: 100%;
    }
    .column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
li{
    list-style: none;
    text-decoration-style: none;
}
li a{
    list-style: none;
    text-decoration-line: none;
    color: black;
}
.col {
    float: right;
    width: 100;
   margin-right: 100px;

}
.colu{
    float: right;
}

</style>