<!DOCTYPE html>
{%extends 'layout.html%'}
<!--navbar-->
<body class="bg-lavender">
  <section class="bg-landing">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="navTop">
        <a class="logo-font navbar-brand" href="#">FAST-FOOD-FAST</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav my-4 ml-auto">
            <li class="nav-item ml-10 active">
              <a class="nav-link" href="#">HOME <span class="sr-only"></span></a>
            </li>
            <li class="nav-item ml-10">
              <a class="nav-link" href="#">CONTACT</a>
            </li>
            <li class="nav-item ml-10">
              <a class="nav-link" href="#" >ABOUT</a>
            </li>
            <li class="nav-item ml-10">
              <a class="nav-link" href="#" >LOGIN </a>
            </li>
            <li class="nav-item ml-10">
              <a class="nav-link" href="#" >SIGN UP</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--introduction message in the home page-->
      <div class="outer">
        <div class="inner">
          <div class="text-center landing-txt">
            <br><br><br>
             <div class="landing-hd txt-green"> WELCOME TO:<br>FAST-FOOD-FAST</div><br>
             <p class="landing-p text-center"> Fast-Food-Fast is a food delivery service app for a restaurant.
            </p>
            </div>
          </div>
        </div>
  </section>

  <!--footer-->
  <section class="footer">
    <div class="container">
        
      <div class="outer">
        <div class="sans serif font txt-white mar-top2">
            <div class="featured-listings container-fluid">
                <h3 class="heading"><center>FAST-FOOD-<span>FAST</span></center></h3>
              </div>
          <p class="small text">Fast-Food-Fast is a food delivery service app for a restaurant.
          </p>
        </div>
        <p>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
    </p>
        <div class="txt-white">
          <p class="small text">© 2021. All rights reserved.</p>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
{%endblock content%}